<%- include('partials/header'); -%>

<div style="text-align:center; margin-top:400px;">
    <h2 style="margin-top:40px;color:black;font-family:itallic">Schedule:</h2>
    <a href="/dashboard/schedule/newschedule"><button type="button" class="btn btn-success">New Schedule</button></a>

  <% schedule.forEach(function(schedule){ %>
    <div class="infos-schedule" style="margin-top:30px">
        <h3><%= schedule.Receipename %></h3>
        <p>Time: <%= schedule.time %> </p>
        <p>Ajouté le : <%= schedule.scheduledate %></p>
        <div class="item">
            <div class="delete-schedule">
                <form action="/dashboard/schedule/<%= schedule._id%>?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger" value="delete">Delete</button>
                </form>
            </div>
        </div>
    </div>
<%});%>
</div>
